div{
    background-color: tomato;
    margin: 20px;
    border: 20px solid black;
    border-radius: 0 20px 0 20px;
    padding: 20px;
}
h2{
    text-decoration: underline;
    font-style: italic;
}
h3{
    text-align: center;
    text-decoration: underline;
    color: blue;
    border: 10px solid green;
    box-shadow: 10px black 10px;
}
li{
    margin-bottom: 10px;
    background-color: brown;
    font-style: italic;
    color: blueviolet;
}